/node_modules
/public/hot
/public/storage
/public/images/patients
/public/images/echoes
/public/images/echographies
/public/images/xrays
/public/files
/storage/db_backup
/storage/zipfiles
/storage/*.key
storage/framework/laravel-excel
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
